{% extends 'base.html' %}

{% block content %}
  <h2>{{user.username}}</h2>
  <h3>Please upload image that are 1:1</h3>

 <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>

  <table>
    <h2></h2>
      {% for image in images %}
        <tr>
          <td><a href="{{ image.upload.url }}" target="_blank">{{ image.upload.name }}</a></td> 
          <img src="{{ image.upload.url }}" style="width:150px;">
          {% comment %} <td>{{ image.uploaded_at }}</td>
          <td>{{ image.upload.size|filesizeformat }}</td>
          <td>{{ user.id }}</td> {% endcomment %}
        </tr>
       {% empty %}
         <tr>
          <td colspan="3">No data.</td>
        </tr> 
      {% endfor %}
  </table>
{% endblock %}