{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock styles %}

{% block content %}
<div class="box1">
    <div class="container m-0">
    <div class="row">
        <div class="col-sm-6 content">
        <h3>Shelly Cheng</h3>
        <a href="https://github.com/amazingshellyyy" class="btn btn-primary btn-lg active" id="gitbutton" role="button" aria-pressed="true">@amazingshellyyy</a>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio vitae impedit ipsa illo incidunt ipsam facere, cupiditate corrupti totam tenetur ea in voluptatibus, ex deleniti at placeat libero aperiam eius.</p>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
    </div>
    </div>
</div>
<div class="box2">
    <div class="container mr-0">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-6 content">
        <h3>Kenneth Surban</h3>
        <a href="https://github.com/ksrawr" class="btn btn-primary btn-lg active" id="gitbutton" role="button" aria-pressed="true">@ksrawr</a>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio vitae impedit ipsa illo incidunt ipsam facere, cupiditate corrupti totam tenetur ea in voluptatibus, ex deleniti at placeat libero aperiam eius.</p>
        </div>
    </div>
    </div>
</div>
<div class="box3">
    <div class="container m-0">
    <div class="row">
        <div class="col-sm-6 content">
        <h3>John Roman</h3>
        <a href="https://github.com/johnofhyrule" class="btn btn-primary btn-lg active" id="gitbutton" role="button" aria-pressed="true">@johnofhyrule</a>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio vitae impedit ipsa illo incidunt ipsam facere, cupiditate corrupti totam tenetur ea in voluptatibus, ex deleniti at placeat libero aperiam eius.</p>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
    </div>
    </div>
</div>
{% endblock %}