{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock styles %}

{% block content %}
<div class="hero">
    <div class="container m-0">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6 heading">
                <h1>ABOUT CATBOOK</h1>
                <h5>who we are</h5>
            </div>
        </div>
    </div>
</div>
<div class="box1">
    <div class="container m-0">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6 content">
        <h3>Shelly Cheng</h3>
        <a href="https://github.com/amazingshellyyy" class="btn btn-primary btn-lg active" id="gitbutton" role="button" aria-pressed="true">@amazingshellyyy</a>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio vitae impedit ipsa illo incidunt ipsam facere, cupiditate corrupti totam tenetur ea in voluptatibus, ex deleniti at placeat libero aperiam eius.</p>
        </div>
        <div class="col-sm-2">
            <img src="https://image.flaticon.com/icons/svg/763/763755.svg">
        </div>
        <div class="col-sm-3"><img src="https://image.flaticon.com/icons/svg/763/763755.svg">
        </div>
    </div>
    </div>
</div>
<div class="box2">
    <div class="container mr-0">
    <div class="row">
        <div class="col-sm-3">
            <img src="https://image.flaticon.com/icons/svg/763/763775.svg">
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-6 content">
        <h3>Kenneth Surban</h3>
        <a href="https://github.com/ksrawr" class="btn btn-primary btn-lg active" id="gitbutton" role="button" aria-pressed="true">@ksrawr</a>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio vitae impedit ipsa illo incidunt ipsam facere, cupiditate corrupti totam tenetur ea in voluptatibus, ex deleniti at placeat libero aperiam eius.</p>
        <div class="col-sm-1"></div>
        </div>
    </div>
    </div>
</div>
<div class="box3">
    <div class="container m-0">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6 content">
        <h3>John Roman</h3>
        <a href="https://github.com/johnofhyrule" class="btn btn-primary btn-lg active" id="gitbutton" role="button" aria-pressed="true">@johnofhyrule</a>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio vitae impedit ipsa illo incidunt ipsam facere, cupiditate corrupti totam tenetur ea in voluptatibus, ex deleniti at placeat libero aperiam eius.</p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <img src="https://image.flaticon.com/icons/svg/763/763789.svg">
        </div>
    </div>
    </div>
</div>
{% endblock %}