{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/comment_form.css' %}">
{% endblock styles %}
{% block nav_left%}
<div class="search-bar form-inline">
<form method="POST" class="form-inline my-2 my-lg-0">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit"><ion-icon class="search-icon" name="search-outline"></ion-icon></button>
</form>
</div>
<li class="nav-item">
          <a class="nav-link" href="{% url 'global_view'%}">Global</a>
        </li>
{% endblock nav_left%}
{% block nav_right%}

{% if user.is_authenticated %}
{% comment %} <img href="{{ image.upload.url }}"> {% endcomment %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'profile' pk=user.pk%}">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout'%}">Log Out</a>
</li>

{% else %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'login'%}">Log In</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'signup'%}">Sign Up</a>
</li>
{% endif %}
{% endblock nav_right%}
{% block content %}
    <div class="box1">
<div class="container">
    <div class="row text-center">
        <div class="col-sm-2 col-md-3"></div>
        <div class="col-sm-8 col-md-6 text-left">
        <h4>Add a new comment here!</h4>
        <form  method="POST" class="comment-form">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
        <div class="col-sm-2 col-md-3"></div>
    </div>
</div>
</div>
{% endblock %}