{% extends 'base.html' %}
{% load static %}

{% block js %}
<script defer src="{% static 'js/like.js' %}"></script>
{% endblock js %}

{% block content %}
<h1>This is the Global View</h1>
<main>
	{% for post in posts %}
	<div>
		<a href="">
			<p>{{ post.title }}</p>
		</a>
		<small>Created: {{post.date}}</small>
		<p>{{ post.context }}</p>
		<button data-id="{{ post.id}}">Likes: {% if post.likes > 0 %} {{ post.likes }} {% else %} None, ur cat ugly :( {% endif %}</button>
		<span>Last Updated: {{ post.updateDate }}</span>
	</div>
	{% endfor %}
</main>
{% endblock content %}