{% extends 'base.html' %}
{% load static %}
{% block styles %}
<script defer src="{% static 'js/like.js' %}"></script>
{% endblock styles %}
{% block nav_left%}
<div class="search-bar form-inline">
<form method="POST" class="form-inline my-2 my-lg-0">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit"><ion-icon class="search-icon" name="search-outline"></ion-icon></button>
</form>
</div>
<li class="nav-item">
          <a class="nav-link" href="{% url 'global_view'%}">Global</a>
        </li>
{% endblock nav_left%}
{% block nav_right%}

{% if user.is_authenticated %}
{% comment %} <img href="{{ image.upload.url }}"> {% endcomment %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'profile' pk=user.pk%}">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout'%}">Log Out</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout'%}">Log Out</a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'login'%}">Log In</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'signup'%}">Sign Up</a>
</li>
{% endif %}
{% endblock nav_right%}
{% block content %}
<div class="container mb-2 mt-4">
    <div class="row">
        <div class="col-sm-3">
        
        </div>
        <div class="col-sm-6">
            {% if query %}
                <h2 class="text-center">Search Results for: "{{ query }}"</h2>
            {% endif %}
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>
<main>
	{% for post in posts %}
	<div class="container">
  <div class="row">
      <div class="col-sm-3"></div>
      <div class="card col-sm-6 mb-3" style="width: 18rem;">
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-2"><img class="profile-img mb-3"
                          src="{% static 'images/user-placeholder.jpg'%}" alt="" style="height:50px;">
                          <a href="{% url 'profile' pk=post.user.id %}" class="card-text">{{post.user.username}}</a>
                  </div>
                  <div class="col-sm-10">
                      <a href="{% url 'post_detail' pk=post.pk %}" class="card-title">{{post.title}}</a>
                      <h6 class="card-subtitle mb-2 text-muted">Updated: {{post.updateDate}}</h6>
                      <p class="card-text">{{post.context}}</p>
                  </div>
              </div>
              <a href="#" class="card-link like-btn" data-id="{{ post.id }}"> Like <ion-icon name="heart" style="position:relative;top:3px;" data-id="{{ post.id }}">
                </ion-icon>{{post.likes}}</a>
              <a href="{% url 'comment_create' pk=post.pk %}" class="card-link">comment <ion-icon name="chatbox-outline"
                      style="position:relative;top:3px;"></ion-icon></a>
          </div>
      </div>
      <div class="col-sm-3"></div>
  </div>
  </div>
	{% endfor %}
</main>
{% endblock content %}