{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock styles %}
{% block nav_left%}
<li class="nav-item">
  <a class="nav-link" href="#">About Us</a>
</li>
{% endblock nav_left %}
{% block nav_right%}
<form method="POST" class="form-inline my-2 my-lg-0 mr-2">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit">Search</button>
        </form>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' pk=user.pk %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout'%}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login'%}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup'%}">Sign Up</a>
        </li>
        {% endif %}
{% endblock nav_right %}
{% block content %}
<div class="box1">
  <div class="container text-center">
    <div class="row text-center pt-5">
      <h2 class="col-sm-12 title">Enjoy sharing every moment you have with your cat</h2>
    </div>
    <button type="button" class="btn btn-primary mt-5 join-btn">Join Our Community!</button>
  </div>
</div>
<div class="box2">
  <div class="container">
    <div class="row ml-0">
      <div class="col-sm-2 col-md-1"></div>
      <div class="col-sm-8 col-md-10 text-center">
        <h2 class="pb-3">What is CatBook?</h2>
        <p >Everyone has that one friend. You know them. That crazy cat person (if you don’t know them, is it possibly you?). CatBook is an internet community where you can share your love of cats through your daily thoughts, read about other cats (don’t worry, your cat is not jealous and doesn’t care since it doesn’t love you anyways), and follow other cat lovers.</p>
      </div>
      <div class="col-sm-2 col-md-1"></div>
    </div>
  </div>
</div>
<div class="box3">
  <div class="container m-0">
    <div class="row">
      <div class="col-sm-6 content">
        <h3>Connect with cat Lovers</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iste. Maxime tempore repudiandae ut, quam
          facere deleniti dolorem sapiente odit. Harum, eum? Mollitia nulla delectus dolores reiciendis inventore quam
          quae!</p>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
<div class="box4">
  <div class="container mr-0">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-6 content">
        <h3>See cute cat photos around the world</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iste. Maxime tempore repudiandae ut, quam
          facere deleniti dolorem sapiente odit. Harum, eum? Mollitia nulla delectus dolores reiciendis inventore quam
          quae!</p>
      </div>
    </div>
  </div>
</div>
<div class="box5">
  <div class="container m-0">
    <div class="row">
      <div class="col-sm-6 content">
        <h3>Share you love about your cat to the universe</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, iste. Maxime tempore repudiandae ut, quam
          facere deleniti dolorem sapiente odit. Harum, eum? Mollitia nulla delectus dolores reiciendis inventore quam
          quae!</p>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>

{% endblock %}