{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}
{% block script %}
<link rel="stylesheet" href="{% static 'js/profile.js' %}" defer>
{% endblock script %}

{% block content %}
<div class="box1">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="profile-img" src="{% static 'images/user-placeholder.jpg'%}" alt="">
            </div>
            <div class="col-sm-8">
                <h2>{{ user.username }}&nbsp&nbsp&nbsp{{ user.email }}</h2>
                <ul class="pl-0" style="list-style-type: none;">
                    <h3> Cat Information</h3>
                    <li>Name</li>
                    <li>Breed</li>
                    <li>Age</li>
                </ul>
                <button type="button" class="btn btn-primary mt-5">Edit</button>
                <button type="button" class="btn btn-primary mt-5">Follow</button>
            </div>
        </div>
    </div>
</div>
<ul class="posts">
    <h2>
        Posts
        <a href="{% url 'post_create' %}">(+)</a>
    </h2>
    {% for post in posts %}
    <li class="post">
        <a href="{% url 'post_detail' pk=post.pk %}">
            {{ post.title }}
        </a>
    </li>
    {% endfor %}
</ul>
<ul class="act-feed">
    <h2>
        Here is the activity Feed!
    </h2>
</ul>

{% endblock %}