body {
  font-family: 'Lato', sans-serif;
}

footer {
  background-color: #FFF3C4;
  margin-bottom: 0px;
}

.search-btn {
  border-color: #CB6E17;
  color:#CB6E17;
}

.search-btn:hover {
  background-color: #CB6E17;
  color: white;
  border-color: #CB6E17;
}
.nav-custom {
  background-color: #F0B429;
  color: white;
}

.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
  font-weight:700;
  font-size: 2rem;
}