body {
  font-family: 'Lato', sans-serif;
}


.nav-custom {
  background-color: #F0B429;
  color: white;
  padding:0.2rem 2rem;
}

.nav-link {
  color: white !important;
}
/* logo */
.navbar-brand {
  color: white !important;
  /* padding-left: 20vw; */
}
.logo > img {
  width:25px;
  height:25px;
}
/* search bar  */
.search-bar {
  background-color: white;
  height:25px;
  margin:auto 0;
}
.form-inline > input[type=search] {
  width:20vw;
  height:100%;
  border:none;
  padding:0 0.75rem;
}
.search-btn {
  width:3vw;
  border:none;
  padding: 0;
}

.search-icon {
  color:#4b4f56;
  height:20px;
}
.search-btn:hover {
  background-color: #f5f6f7;
}

/* footer */
footer {
  background-color: #FFF3C4;
  margin-bottom: 0px;
}