
.box1{
  /* padding-top:25px; */
  /* background-color: #FFF3C4; */
  /* margin-bottom:15vh; */
  background-color: #e9ebee;
  
}

.box1 > .container{
  /* background-color: white; */
  padding:0;
  padding-top:3rem;
  padding-bottom:3rem;
  
}

.box1>.container > .row{
  margin-bottom: .5rem;
}

 #create-btn {
   margin-left: 1rem;
 }


.card-title {
  margin:5px 0;
  font-size: 1.2rem;
}
.post-user {
   margin-bottom: 0;
   font-size: 1.3rem;
   font-weight:700;
}

.comment {
   margin-left: 1rem;
   padding-left: 1rem;
   padding-right: 1rem;
   background-color: #e9ebee;
   border-radius:1rem;
   margin-bottom: 0;
}

.comment-date {
   padding-top: .3rem;
   margin-left: 1rem;
   font-size: .8rem;
   opacity: .7;
   
} /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .img-box {
    text-align: center;
    
  }
  .profile-img-box {
    position:static;
    bottom:0;
    width:135px;
    height:135px;
    margin-left:0;
    border-radius: 50%;
    background-image: url('../images/user-placeholder.png');
    /* background-color: #CB6E17; */
    background-size: cover;
    background-repeat: no-repeat;
    
    
  }
  .profile-img {
    width:140px;
    height:140px;
    border-radius: 50%;
    
  }
  .btn-con {
    /* padding-left:30vw; */
    text-align: center;
  }
  .profile-edit {
    border:1px solid #e9ebee;
    margin-right: 0;
    margin-top: 0px;
    float: none;
    
  }
  .user-name {
    font-size: 1.5rem;
    font-weight:700;
    margin-top: 0;
    text-align: center;
  }
  .follow-num {
    text-align: center;

  }
  .box1 >.container {
    padding-top:2.5rem;
    background-color:white;
  }
  .first-tab {
    margin-left:0;
  }
  .box2 > .container  {
    padding-bottom: 10vh;
    text-align: center;
  }
  .box2 > .container > div  {
    margin: 0 auto;
    width:100%;
    display: block;
  }
  .tab-pane > h3 {
    
    margin-left: 0;
  }
  .post {
    text-align: left;
  }
  .posts{
    margin:0 auto;
  }
  .card-body {
    padding:20px;
  }
  

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 

}
@media (max-width: 1200px) { 
  
}