
.box1{
  /* padding-top:25px; */
  /* background-color: #FFF3C4; */
  /* margin-bottom:15vh; */
  background-color: #e9ebee;
  
}

.box1 > .container{
  /* background-color: white; */
  padding:0;
  padding-top:3rem;
  padding-bottom:3rem;
  
}

.box1>.container > .row{
  margin-bottom: .5rem;
}

 #create-btn {
   margin-left: 1rem;
 }


.card-title {
  margin:5px 0;
  font-size: 1.2rem;
}
.post-user {
   margin-bottom: 0;
   font-size: 1.3rem;
   font-weight:700;
}

.comment {
   margin-left: 1rem;
   padding-left: 1rem;
   padding-right: 1rem;
   background-color: #e9ebee;
   border-radius:1rem;
   margin-bottom: 0;
}

.comment-date {
   padding-top: .3rem;
   margin-left: 1rem;
   font-size: .8rem;
   opacity: .7;
   
}