.box1 {
  /* background-image: url('../images/cat-laptop.jpg'); */
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../images/cat-laptop.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  width:100vw;
  height: 100vh;
  
}


.cover {
  background-color: aliceblue;
  opacity: 0.5;
  width:100vw;
  height: 100vh;
}

