{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}

  {% if error %}
    <p style="background-color: firebrick;">{{error}}</p>
  {% endif %}

  <section class="form-section">
    <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      <p>
        <label for="email">Email</label>
        <input type="email" name="email"  maxlength="25" minlength="2" required>
      </p>
      <p>
        <label for="username">Username</label>
        <input type="text" name="username"  maxlength="25" minlength="2" required>
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password"  maxlength="25" minlength="4" required>
      </p>
      <p>
        <label for="password2">Confirm Password</label>
        <input type="password" name="password2"  maxlength="25" minlength="4" required>
      </p>
      <button type="submit"> Register </button>
      {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }} !</p>

      {% else %}
      <a href="{% provider_login_url 'google' %}">Sign Up with Google</a>
      {% endif %}
    </form>
  </section>

{% endblock %}